body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #0e0e0e;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #2980b9;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover > a {
    color: #2980b9;
}

section {
    padding: 0 0;
    background-color: #fff;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
}

h2 {
    color: #34495e;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.content p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.8;
}

.content p b {
    font-weight: 600;
    color: #2980b9;
}

.content p br {
    margin-bottom: 15px;
}

footer {
    background-color: #0e0e0e;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    margin-top: 1rem;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #2980b9;
}

#libros-recomendados {
    padding: 20px 20px;
}

.libros-grid {
    display: grid;
    /* tamaño de columnas ... */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px 0;
}

.libro {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.libro-imagen {
    max-width: 150px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 4px;
}

.libro h3 {
    color: #34495e;
    font-size: 18px;
    margin: 10px 0;
}

.libro .autor {
    color: #7f8c8d;
    font-style: italic;
    margin: 5px 0;
}

.libro .descripcion {
    font-size: 14px;
    color: #555;
    line-height: 1.4;
}
